body
{
    padding: 0px;
    margin: 0px;
   
}
.header
{
    height: 150px;
    width: 100%;
    background-image: url("../Admin/images/haha2.jpg");
    /* background-color: #010002; */
}
.header-top
{
    height: 150px;
    width: 100%;
    padding: 0px;
}
.wrap
{
    height: 150px;
    margin-top: 0%;
    margin-left: 0px;
}
.h-logo
{
    margin-left: -1%;
    padding: 1%;
}
.h-logo img
{
    height: 150px;
    width: 150px;
    margin-left: 5%;
    margin-top: -1%;
    float: left;
}

.field
{
    padding: 5px;
    height: 100px;
    margin-top: -1%;
}
#search111
{
    height: 35px;
}
.search
{
		font-size: 18px;
        padding-left: 5px;
		color: #010002;
		width:280px;
		background-color: rgba(255, 255, 255, 0.671);
		border-radius: 8px;
        border-width: 2px;
		border-color:#464242;
        margin-left: 16%;
        margin-top: -1%;
        						
}
.search_btn
{
	height:30px;
	width: 70px;
	padding: 5px;
    color: whitesmoke;
    text-shadow: 0px 0.5px 1px #ffffff;
    font-size: 15px;
    background: transparent;
    border-radius: 8px;
	border-color:#b6adadfa;
    margin-left: 5px;
    margin-top: 3.2%;
}
.nav-wrap
{
    margin-top: -5.8%;
    float:right;
    color: #010002;
    /* margin-right: 1%; */
}
.nav-wrap ul
{
  list-style: none;
  margin-right: 20px;
  padding-right: 5px;
}
#example-one {
  margin: 10px auto;
  margin-right: 20px;
  list-style: none;
  position: relative;
}
#example-one li {
  display: inline-block;
  margin-right: 15px;
}
#example-one a {
  color: white;
  text-shadow: 0px 0.5px 2px #ffffff;
  font-size: 16px;
  
  padding: 6px 8px 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
#example-one a:hover {
  color: #db9603;
}

/* .movies
{  
    position: relative;
    display:flex;
    margin-top: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    width: auto;
    background-color: #db9603;
}
.movies img
{
    align-items: center;
    padding-right: 20px;
    height: 250px;
    width: 250px;
} */

