body
{
    margin: 0%;
    padding: auto;
}
.footer
{
    height: 200px;
    width: 100%;
    padding: 0px;
    margin: 0px;  
    position: absolute; 
    margin-top: 20px;
}
#foot
{
    width: 100%;
    height:200px;
    background-image: url("../Admin/images/haha2.jpg");
    background-color: black;
   position: absolute;
}
.col_1_of_4 
{
    margin-left: 8%;
    height: 120px;
    width: auto;
    display:inline-flex;
    margin-right: 15px;
}
.span_1_of_4 p {
    color: rgba(255, 255, 255, 0.829);
}
.footer-nav li
{
    list-style-image: url("../Admin/images/f-icon.png");
}
.footer-nav
{
    height: 100px;
    width: 140px;
}
.footer-nav a
{
    color: white;
    text-shadow: 0px 0.5px 2px #ffffff;
    font-size: 16px;
}
.footer-nav a:hover
{
    color: #948e8e;
}
.textcontact
{
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 10px;
}
.call_info
{
    padding: 5px;
    margin-top: 0px;
    width: auto;
}

.col_1_of_4 .call_info
{
    height: 50%;
    margin-top: -20px;
}
.txt_3
{
    font-size: medium;
}
.txt_4
{
    font-size:32px;
    margin-top: -3px;
}
.col_1_of_4 .social
{
    height: 120px;
    width: 170px;
    margin-top: 35px;
    margin-left: -40px;
}
.social img
{
    padding: 4px;
   height: 25px;
   width: 25px;
}
