::-webkit-scrollbar {
  width: 10px;
 box-sizing: border-box;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px; 
  background-color: #000000;
  
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #000000,#ff0000,#000000);
 
}