body{
    margin: 0;
    padding: 0;
    /* font-family: 'poppins' , sans-serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 20px;
    text-transform: capitalize  ;
    background-image: url("home.jpg");
      background-position: center;   
    background-size: cover;
}
.bill_layout
{
    margin: 8% auto;
    position: relative;
    /* background-color: blueviolet; */
    height: 350px;
    width: 600px;
}
.bill_container
{
    justify-content: center;
    /* background-color: aqua; */
    padding: 5px;
    margin-inline: auto;
    width: max-content;
}
.main_bill_container
{
    /* background-color: brown; */
    margin:10px 0vh;
    /* padding:5px; */
    border: 4px rgb(255, 255, 255);
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0px 0px 10px 2px white;
}
.first{
    /* margin-top: -15px;
    margin-bottom: -15px; */
    display: flex;
}
.row:not(.first)
{
    position: relative;
    display: flex;
    /* border: 2px inset black; */
    border-top: 2px inset rgb(255, 255, 255);
    /* padding: 10px; */
    /* margin: 2px; */
}
.col_1
{
    /* background-color: chartreuse; */

    /* float: left; */
    padding: 10px;
    width: 270px;
    color: white;
    text-shadow: 0.4px 0.5px 2.5px white;
}
.first_
{
    color: white;
    text-shadow: .4px 0.5px 2.5px white;
    width: 250px;
    padding: 10px;
    position: relative;
    text-align: right;
    margin-right: 10px;
}
.col_2:not(.first_)
{
    /* background-color: chocolate; */
    color: white;
    text-shadow: .4px 0.5px 2.5px white;
    margin-right: 10px;

    width: 250px;
    padding: 10px;
    position: relative;
    text-align: right;
    border-left: 2px inset rgb(255, 255, 255);
    /* border-width: 2px; */
    /* border-style: inset; */
}