body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.notation
{
    font-size: 19px;
    padding: 5px;
    margin: 0vh 200px 10vh;
    
}
.seat_notation
{
    display: flex;
    border-radius: 20px;
    padding-top: 15px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0pc 0px 10px 10px rgb(46, 46, 46) inset;
    width: 500px;
    height: 70px;
}
.booked_seats
{
    height: 40px;
    width: 45px;   
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0px 0px 2px white; 
    background-color: #6d6d6d;
    margin: 7px;    
    
}
.select
{
   
    background-color: rgb(0, 255, 64);
    height: 40px;
    width: 45px;   
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0px 0px 2px white;
    margin: 7px;  
    margin-left: 30px;
}
.available
{
    height: 40px;
    width: 45px;   
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0px 0px 2px white;
    background-color: #ffffff;
    margin: 7px;
    margin-left: 30px;

}
.seat_container
{
    
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    color: aliceblue;
    background-color: #181718;
    box-shadow: 0pc 0px 60px 50px rgb(17, 16, 16) inset;
    padding: 2%;
    padding-top: 10vh;
    /*height: 550px;*/
    width: 850px;
    margin: 10vh 35vh 5vh;
    position:relative;
    /*margin-left:35vh;*/
    /*margin-top:35vh;*/
    perspective: 500px;
}
.rows_container
{
    display:flex;
    height: 50px;
     /*background-color: chocolate; */
    margin-top: 10px;
    justify-content:center;
}
.row_no
{
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    /* background-color: brown; */
    font-size: 25px;
    color: white;
    text-shadow: 0pc 0px 5px 15px rgb(255, 255, 255);
    /* padding: 2px; */
}
.seat_style
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px inset; */
    margin-left: 15px;
    padding: 5px;
    background-color:rgb(255, 255, 255);
    height: 30px;
    width: 35px;
    box-sizing: content-box;
    cursor: pointer;
    color: black;
    text-shadow: 0pc 0px 2px black;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0px 0px 2px white;
}
.booked
{
    /* height: 40px;
    width: 45px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px; */
    
    background-color: #6d6d6d;
}
.seat_style:not(.booked):hover
{
    transform: scale(1.2);
    text-shadow: 0pc 0px 2px white;

}
.seat_style:nth-of-type(3)
{
    margin-right: 30px;
}
.seat_style:nth-of-type(9)
{
    margin-left: 45px;
}
.screen_style
{
    height: 100px;
    width: 350px;
    margin:30px 50vh 20px 40vh;
    background-color: rgb(255, 255, 255);
    /* transform: skewX(20deg); */
    transform: rotateX(75deg);
    box-shadow: 0px -2px 10px 5px rgb(255, 255, 255);
    /* transform: skewy(30deg); */
    /* perspective: 700px; */
}
.seat_text
{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.book_btn
{
    justify-items: center;
}
.selected
{
    background-color: rgb(0, 255, 64);
}
.book_btn
{
    /* background-color: #181718; */
    color: #ffffff;
    float: right;
    background:linear-gradient(to top right , #252525,#ff5050);
    margin-right: 40vh;
    margin-top: -35px;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}
.book_btn:hover
{
    background:linear-gradient(to top left , #252525,#ff5050);

}