*{
    margin: 0;
    padding: 0;
    
}
.hero{
    height: 100%;
    width: 100%;
    background-image:url(home.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    font-family:Book Antiqua;
}
.contain{
    border-radius: 25px;
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    /* background-color: #f11e1e; */
}
.form-box{
    border-radius: 25px;
    width: 400px;
    height: 450px;
    background-color: transparent;
    position: relative;
    margin: 6% auto;
    color: white;
    padding: 25px;
    overflow:hidden;
}
.form-box h2
{
   margin-left: 20%;
   margin-top: 15%;
}
.input-group{
    color: white;
    top: 150px;
    position: absolute;
    background:none;
    width: 280px;
    transition: .5s;
}

.input-field{
    position: relative;
    font-size: 15px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #999;
    border-top: 0;
    outline: none;
    background: transparent;
}
.submit-btn{
    color: white;
    font-family:initial;
    font-size: 17px;
    width: 85%;
    padding: 8px 30px;
    cursor: pointer;
    display: block;
    margin-top: 25px;
    margin-left: 10%;
    background: linear-gradient(to bottom right, #3f0909,#f11e1e);
    border: 0;
    outline: none;
    border-radius: 30px;
}