@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "poppins"; */
}

body{
    min-height: 100vh;
    background: url('../images/home.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}

.contact-form{
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-info .mymail a
{
    color: white;
    font-size: large;
    text-decoration: none;
    margin-left: 10px;
    font-weight: normal;
}
.contact-form h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin: 30px;
}

.contact-form .text-box{
    background: #fff;
    color: rgb(0, 0, 0);
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 14px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 10px;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    min-height: 200px;
    max-height: 350px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background: linear-gradient(to right, #311212,#db0000);
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;

}

.contact-form .send-btn:hover{
    background: linear-gradient(to left, #311212,#db0000);

}

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction: column;
    }

    .contact-info, .contact-form{
        margin: 30px 50px;
    }

    .contact-form h2{
        font-size: 30px;
    }

    .contact-form .text-box{
        width: 100%;
    }
    
}


.alert-success{
    z-index: 1;
    background: #d4edda;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 429px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3ad66e;
    border-radius: 4px;
}

.alert-error{
    z-index: 1;
    background: #fff3cd;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 429px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
    border-radius: 4px;
}

