body
{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}
.home
{
    margin: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.movie_title 
{
    display:inline-flex;
    margin-top: 1.5%;
    margin-left: -14.5%;
    margin-bottom: -.5%;
    text-shadow: 0px 0px 2px;
    width:auto;
    height: 50px;
    /* background-color: #ff0000; */
}
.link_movies_all
{
    /* float: right; */
    text-align: right;
    margin-top: -13px;
    margin-right: 20px;
    margin-bottom: -8px;
}
.link_movies_all a
{
    margin-right: 10px;
    font-size: 17px;
    color:#fb7351;
    text-decoration: none;
}
.movies
{  
    position: relative;
    display:flex;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    transition: 500ms;
    scroll-behavior: smooth;
    width: auto;
    /* background-color: #db9603; */
  
}
.movies .m_pic 
{
    padding: 0px;
    /* border: 3px inset black; */
    border-radius: 15px;
    margin: 20px;
    background-color: black; 

}
.m_pic img 
{
    height: 320px;
    width: 250px;
    border-radius: 15px 15px 0px 0px ;
    margin-top: -5px;
}
.m_name
{
    padding: 10px;
    padding-bottom: 5px;
    text-align:center;
    font-size:18px;
    color: aliceblue;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 0px 0px 1px black;  
    border-top: 4px inset rgb(255, 255, 255);
   
}
.error
{
    /* background-color: #000000; */
    margin-top: 4%;
    color: #ff0000;
}
::-webkit-scrollbar {
  display: none;
}
/*::-webkit-scrollbar {
    width: 10px;
   box-sizing: border-box;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px; 
    background-color: #000000;
    
  }
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #000000,#ff0000,#000000);
   
 }
 
.movies::-webkit-scrollbar {
    height: 10px;
  }
  
.movies::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px; 
    background-color: #000000;
    border-radius: 10px;
 }
  
.movies::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #000000,#ff0000,#000000);
    /* background-image: url("../images/haha.jpg"); 
     border-radius: 10px;
 } */
   