.movie_title 
{
    display:inline-flex;
    margin-top: 1.5%;
    margin-left: -10.5%;
    margin-bottom: -8%;
    text-shadow: 0px 0px 2px;
    width:auto;
    height: 50px;
    /* background-color: #ff0000; */
}
.movies_container
{  
    margin: 50px 50px;
    height: auto;
    width: auto;
    /* background-color: #db9603; */
    overflow: auto;
}
.m_pic 
{
    padding: 0px;
    float: left;
    /* border: 3px inset black; */
    /* position:absolute; */
    border-radius: 15px;
    margin: 50px 25px;
    background-color: black; 
    width: 250px;
}
.m_pic img 
{
    height: 320px;
    width: 250px;
    border-radius: 15px 15px 0px 0px ;
    margin-top: -5px;
}
.m_name
{
    padding: 10px;
    padding-bottom: 5px;
    text-align:center;
    font-size:18px;
    color: aliceblue;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 0px 0px 1px black;  
    border-top: 4px inset rgb(255, 255, 255);
   
}
.error
{
    /* background-color: #000000; */
    margin-top: 4%;
    color: #ff0000;
}
.error img
{
    height: 250px;
}
::-webkit-scrollbar {
    width: 10px;
   box-sizing: border-box;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px; 
    background-color: #000000;
    
  }
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #000000,#ff0000,#000000);
   
 }